/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: linear-gradient(90deg, rgba(54, 57, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    padding: 20px;
    color: white;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.upload-section, .results-section, .image-preview-section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.upload-section h2, .results-section h2, .image-preview-section h2 {
    margin-bottom: 20px;
}

.file-label, .submit-button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
}

.file-label {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.submit-button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}

#imagePreview img {
    max-width: 100%;
    border-radius: 8px;
}

#ocrResults, #facialResults {
    white-space: pre-wrap;
    text-align: left;
}
