body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header, main {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #f4f4f4;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

header h1 {
    color: #333;
}

.upload-section h2, .results-section h2 {
    color: #555;
}

#imageForm{
    margin-top: 20px;
}

#results {
    margin-top: 20px;
}